</main>
<!-- MAIN -->
</section>
<!-- CONTENT -->
    <script src="https://cdn.ckeditor.com/4.16.0/standard/ckeditor.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script> 
    <script src="../js/admin_script.js"></script>
</body>
</html>