<nav>
  <i class="bx bx-menu"></i>
  <form action="#">
    <div class="form-input">
      <button type="submit" class="search-btn" hidden>
        <i class="bx bx-search"></i>
      </button>
    </div>
  </form>
  <input type="checkbox" id="switch-mode" hidden />
  <label for="switch-mode" class="switch-mode"></label>
  <a href="/" class="profile">
    <button class="btn btn-sm btn-warning">To Site</button>
  </a>
</nav>
