<%- include('./partials/authorHeader.ejs'); %>

<!-- Background image -->
<div class="bg-image-others"></div>

<main class="main-container">
  <section class="author-content">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 d-flex flex-column author">
          <img src="../img/julie.JPG" alt="Julie Mandal" />
          <h1 class="jumbotron text-center" id="borderHeader">Julie Mandal</h1>
          <div class="paragraphs">
            <p id="borderText" class="text-justify">
              One spring in the early 1990s, I developed a strong feeling that
              this is not what life is supposed to feel like. It suddenly became
              clear to me that I was somehow missing the point. After years,
              since I was a child, assuming that if I get the next thing right,
              life will feel right, I now had to concede that this might be a
              false assumption. I had a lot of wonderful things going on in my
              life, and yet, I could not find an ease in just being. I had been
              accepted into a competitive arts program at university, had
              well-paid work, and good friends. And none of that made me feel
              less off kilter with life and the world at large. So I decided to
              make it a focus, to investigate other ways of being, and not stop
              until I found what I was looking for.
            </p>
            <p class="text-justify">
              I started a very active path of seeking - and as much as I could
              not put into words what I was looking for, I also had a strong
              conviction that I would know it when I found it. That spring and
              summer I tried many things: I was sitting with the Buddhists; I
              was engaging with colour therapy and various other holistic
              practices too obscure to explain here. I would attend a session
              and could right away tell that this was not what I was looking
              for. I could see that it was doing something for the other people
              there and I was happy for them, and yet knew that my journey of
              seeking had not come to an end. I was grateful for that inner
              guidance and was able to believe in it and follow it with clarity
              and without hesitation.
            </p>
            <p p class="text-justify">
              In the fall, I started working at the local theatre. The play I
              was working on had 2 actors, the director, and myself. As
              assistant director I would come in first in the morning to start a
              pot of tea and set up the stage for the scenes for the day’s
              rehearsal. I enjoyed being in the studio on my own, there was a
              peace and flow to the work. Eventually, one of the actors started
              coming in early everyday, not to actually help, but to sit in the
              audience and observe. We would talk very minimally, and yet one
              day it came up that he practiced a specific kind of meditation I
              had never heard of
            </p>
            <p p class="text-justify">
              I had not abandoned my search, so I asked him to show me. He tried
              to explain it to me and I cut him off, because the issues I had
              (i.e. my life not feeling “right”) couldn't be solved by more
              words and theoretical learning and understanding more concepts. I
              just wanted to try it out, have the experience, and then I would
              know whether this was my path forward.
            </p>
            <p p class="text-justify">
              The following Sunday I went to his house and we settled down to
              meditate.
            </p>
            <p p class="text-justify">
              As my colleague sat behind me and I followed the simple meditation
              guidance the founder of Sahaja Yoga gave on a VHS tape, I had a
              profound experience. I had been right to trust myself, that “I
              would know it when I find it”, because I immediately knew that
              this was what I had been looking for. I went home that evening,
              sleeping well for the first time in ages, and I woke up the next
              morning thinking that this is what life can feel like. And I had
              great clarity that I was going to do what was needed to maintain
              this new state of being.
            </p>
            <p p class="text-justify">
              That day I started my daily meditation practice. My journey of
              seeking transformed into a journey of learning. Over the last few
              decades, as I continue to learn, I’ve had different phases, I
              might have changed focus and techniques and timings as informed by
              the information I receive in my meditation, so I can continue to
              grow and become; however, the basis of my meditation is the same
              as it was that first day: I meditate so I feel connected within me
              and to the world around me, so that life feels right.
            </p>
            <p p class="text-justify">
              And ever since, that has been the baseline from which I contribute
              to the world, and how I find joy in this great opportunity that is
              life.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>

<%- include('./partials/authorFooter.ejs'); %>
