<%- include('./partials/authorHeader.ejs'); %>

<!-- Background image -->
<div class="bg-image-others"></div>

<main class="main-container">
  <section class="author-content">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 d-flex flex-column author" id="imgGita">
          <img src="../img/gita1.png" alt="Gita Pattison" />
          <h1 class="jumbotron text-center" id="borderHeader">Gita Pattison</h1>
          <div class="paragraphs">
            <p id="borderText" class="text-justify">
              In December 1990, my journey of self-discovery began as I traveled
              from Hamburg to Denmark. Despite being a successful freelance tour
              and promotion manager, earning well and having encounters with
              celebrities like Joe Cocker, Tina Turner, and Freddy Mercury, I
              felt a deep emptiness inside. Unable to find satisfaction, I
              turned to drugs and alcohol.
            </p>
            <p class="text-justify">
              During my stay in Denmark, I attempted black magic, but a moment
              of clarity and fear prompted me to abandon it. Back in Hamburg, my
              life seemed unchanged, and the emptiness persisted. I made a
              decision to quit my job, sold most of my belongings, and embarked
              on a journey to Thailand in February 1991 in search of the meaning
              of life, although I didn’t even know what that was.
            </p>
            <p class="text-justify">
              After four months in Thailand, including a 4-week stay in a
              Buddhist monastery, I felt a divine guidance to go to Kathmandu,
              Nepal. It was the strangest feeling when I arrived because I felt
              like coming home, and there, in an small Austrian restaurant in
              the middle of Thamel, the tourist area in Kathmandu, I discovered
              a brochure on meditation. Intrigued by the photo of Shri Mataji, I
              attended a class the very next day, marking the end of my
              dissatisfaction and restlessness.
            </p>
            <p class="text-justify">
              Initially skeptical about meditating with Shri Mataji's photo, I
              eventually felt vibrations, realizing its significance for
              spiritual growth. Lisa, the restaurant owner, became my guide,
              teaching me everything about this meditation named Sahaja Yoga.
              Despite challenges, I embraced the practice, ending my reliance on
              drugs and alcohol immediately.
            </p>
            <p class="text-justify">
              I transitioned from showbiz management to become an actor,
              director, and later, when I moved to Canada, ended up in the
              finance department of a big software company.
            </p>
            <p class="text-justify">
              The meditation provided answers to my long-standing questions, and
              I discovered hidden qualities within myself. Today, as a proud
              Sahaja Yogi, I've found fulfillment and purpose, leaving behind my
              past struggles in pursuit of a richer and more meaningful life.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>

<%- include('./partials/authorFooter.ejs'); %>
