<%- include('./partials/blogHeader.ejs'); %>

<div class="bg-image-others"></div>

<main class="main-container">
  <section class="book-information">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="paragraphs">
            <h1 class="jumbotron">Who We Are</h1>
            <p>
              We are friends, sisters in meditation, and co-creators of
              different kinds of stuff.
            </p>
            <p>
              Together we have more than 60 years of meditation experience
              between us, and a steep learning curve on personal growth that is
              never ending. And while we're at it, it occured to us that writing
              a meditation guide could be useful along this path. It's helping
              us, and hopefully it's helping you, too.
            </p>

            <h1 class="jumbotron">What's in This Book</h1>
            <p>
              This book combines material for reflection with knowledge and
              techniques with practical advice and easy tracking tools so you
              can build your own meditation habit.
            </p>
            <p>
              We will share some of what we learned through our journeys, what
              surprised us along the way, and why we live the way we do.
            </p>
            <p>This is what personal stories look like</p>
            <p>
              Checklists: We start with a daily format, followed by several
              weekly check-lists, and finally arrive at a monthly style.
            </p>

            <h1 class="jumbotron">The Habit, The Lifestyle, The Bliss</h1>
            <p>
              Okay so, don't be fooled. Because as much as the bliss is always
              available to us, we've gotta be pretty darn brave to have the
              actual experience of it. And for most of us, to get to the point
              where our courage becomes a way of life takes time and experience.
            </p>
            <p>
              Build good meditation habits, and it is within reach. To build
              those good meditations habits, you have to commit. Use the
              trackers, give it 30 days, and THEN review what this meditation
              does for you.
            </p>
            <p>
              We'd even go as far as saying that commitment is a requirement for
              participating in this experiment. If that's not you, right now -
              that's okay. We'll still be here when you can make that
              commitment. No worries.
            </p>

            <h6 class="quote">
              GITA: To me attention was always 'to concentrate and focus on one
              thing with all the power you have', until I started Sahaja Yoga.
              Over time I learned that a strong concentration or focus is
              neither required nor helpful. Putting the attention towards
              something is more like a gentle thought, like touching a baby's
              nose, you wouldn't do this with all the power you have. You do it
              gently and with love and that is how you work with your attention.
            </h6>

            <h1 class="jumbotron">What is Attention?</h1>
            <p>
              The thing that is swirling in your head and comes up with new
              ideas and tasks you have to do every 5 seconds is not attention.
              But these thoughts are trying very hard to take your focus away
              and put your attention where it doesn't need to be.
            </p>
            <p>
              You know how to concentrate, right? That is full attention of the
              mental system. When we talk about attention in the context of
              meditation, think of it as the spiritual equivalent of
              concentration.
            </p>
            <p>
              There are several factors that influence our ability to "Have good
              attention." Food plays a role, so does our general environment.
              The most important factor: our desire. If you want to have good
              attention, ask for it. Settle down to meditation, and in your
              heart you can ask. The whole universe is there to help, and it
              will, if you desire it. Did we mention that it depends on your
              desire? Oh, we did, right, just in case you didn't read that line.
              It is up to your desire, you alone can do that.
            </p>

            <h6 class="quote">
              JULIE: When I started, I found this a rather vague and nebulous
              concept. The people I was meditation with just kept repeating "Put
              the attention on top of your head." How do I put something when I
              don't know what it is? But I really wanted to get good at
              meditating, so I would focus/concentrate on that spot on the top
              of my head, sometimes touching it so I could physically feel it
              and have a sensation to grab onto. And then, after a few days of
              practice, I could feel something different. It's a bit like
              holding a space in your mind that is beyond the mind (wow, I am
              glad I can make it so crystal clear!!!). Even though it is hard to
              put in words, trust me; you will know when you feel it. And then
              play with it. I could feel it, and then feel it waver and fade. So
              I set out to feel it for longer, and stabilize it. Develop more
              robust atention. Learn to direct it.
            </h6>

            <h1 class="jumbotron">
              The Difference between sitting to meditate, and Meditation
            </h1>
            <p>
              Meditation is not a trance or the state of being half asleep, it
              is the state of being away of everything, but at the same time
              having no thoughts.
            </p>
            <p>
              The picture of waves rolling in and receding is perhaps useful;
              the waves are the thoughts, and in between the waves coming and
              going, there is a gap.
            </p>
            <p>
              Even when they are overlapping, there is a tiny space of
              everything being on hold - and then crashing to shore again.
            </p>
            <p>
              When we sit down to meditation, we are looking for that space.
              When we find it we are in meditation.
            </p>
            <p>
              When we pray, we talk to God. When we meditate, we hold still long
              enough to hear God's answer.
            </p>
            <p>Holding still long enough in mind, body, and emotions.</p>
            <p>Having our full attention on the Spirit.</p>
            <p>That's all :D</p>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>

<%- include('./partials/blogFooter.ejs'); %>
