<%- include('./partials/blogHeader.ejs'); %>

<div class="bg-image-others"></div>

<main class="main-container">
  <section class="policy-container">
    <div class="container">
      <div class="row">
        <div class="paragraphs">
          <h1 class="jumbotron text-center">PRIVACY POLICY</h1>
          <h5 class="text-justified">
            Welcome to Meditation Workbook CA. We are committed to protecting
            your personal information and your right to privacy. This Privacy
            Policy applies to information we collect on our website at
            meditationworkbook.ca and describes how we collect, use, disclose,
            and safeguard your information when you visit our Website.
          </h5>

          <h2>Information We Collect</h2>
          <h4>Personal Information</h4>
          <p>
            You are free to explore the Website without providing any personal
            information about yourself. When you visit the Website, we may
            collect personal information you provide to us such as your name,
            email address, and details related to an author event booking.
          </p>
          <h4>Non-Personal Information</h4>
          <p>
            When you visit our Website, we may collect non-personal information
            about your visit such as your IP address, browser type, and
            operating system. We may use cookies and similar tracking technology
            to collect and use such information.
          </p>

          <h4>How We Use Your Information</h4>
          <p>We use the information we collect about you to:</p>
          <ul>
            <li>
              Respond to your requests, including author event bookings and
              subscriptions.
            </li>
            <li>
              Send you Website updates or other marketing communications that we
              believe may be of interest to you.
            </li>
            <li>
              Understand and analyze how you use our Website to develop new
              products, services, and features.
            </li>
            <li>
              Prevent fraudulent transactions and monitor against threats.
            </li>
          </ul>

          <h2>Sharing Your Information</h2>
          <p>
            We may share information we have collected about you in certain
            situations. Your information may be disclosed as follows:
          </p>
          <ul>
            <li>
              By Law or to Protect Rights: If we believe the release of
              information about you is necessary to respond to legal process, to
              investigate or remedy potential violations of our policies, or to
              protect the rights, property, and safety of others, we may share
              your information as permitted or required by any applicable law,
              rule, or regulation.
            </li>
            <li>
              To Third Parties: We may share your information with third parties
              that perform services for us or on our behalf, including payment
              processing, data analysis, email delivery, hosting services, and
              marketing assistance.
            </li>
          </ul>

          <h2>Third-Party Websites</h2>
          <p>
            The Website may contain links to third-party websites and
            applications of interest, including external services, that are not
            affiliated with us. Once you have used these links to leave the
            Website, any information you provide to these third parties is not
            covered by this Privacy Policy.
          </p>

          <h2>Security of Your Information</h2>
          <p>
            We use administrative, technical, and physical security measures to
            help protect your personal information. While we have taken
            reasonable steps to secure the personal information you provide to
            us, please be aware that no security measures are perfect or
            impenetrable, and no method of data transmission can be guaranteed
            against any interception or other types of misuse.
          </p>

          <h2>Policy for Children</h2>
          <p>
            We do not knowingly solicit information from or market to children
            under the age of 13. If you become aware of any data we have
            collected from children under age 13, please contact us using the
            contact information provided below.
          </p>

          <h2>Contact Us</h2>
          <p>
            If you have any questions about these Terms, please contact us at:
          </p>
          <a href="#" id="contact-link">Meditation Workbook CA</a>
        </div>
      </div>
    </div>
  </section>
</main>
<%- include('./partials/blogFooter.ejs'); %>
