<%- include('./partials/header.ejs'); %>

<!-- Background image -->
<div class="bg-image-others"></div>

<main class="main-container">
  <section class="tools-content">
    <div class="container">
      <div class="row">
        <h1 class="jumbotron text-center bookHeader">MEDITATION TOOLS</h1>
        <div class="col-lg-6 mobileMeditate">
          <img src="img/guidedmeditations.png" alt="IMAGE" />
        </div>
        <div class="col-lg-6">
          <h2>Guided Meditations</h2>
          <p class="text-justify">
            Determine how much time you have and what you are looking for: 10
            minutes to feel more confident? 5 minutes to increase your sense of
            harmony? Select what you need, and a beautiful guided meditation
            will take you there.
          </p>
          <a
            class="btn btn-primary"
            id="guidedMeditationsButton"
            href="https://wemeditate.com/"
            role="button"
            >More Information</a
          >
        </div>
        <div class="col-lg-6 websiteMeditate">
          <img
            src="img/guidedmeditations.png"
            class="imgMeditations"
            alt="IMAGE"
          />
        </div>
      </div>

      <div class="row tool2">
        <div class="col-lg-6">
          <img src="img/sahaja.jpg" alt="IMAGE" />
        </div>
        <div class="col-lg-6">
          <h2>The Founder of Sahaja Yoga</h2>
          <p class="text-justify">
            Shri Mataji Nirmala Devi quietly transformed lives. For more than
            forty years, she travelled internationally, offering free public
            lectures and the experience of self-realization to all, regardless
            of race, religion or circumstance. She not only enabled people to
            pass this valuable experience on to others, but taught them the
            meditation technique necessary to sustain it, known as Sahaja Yoga.
          </p>
          <a
            class="btn btn-primary"
            id="sahajaButton"
            href="https://shrimataji.org/"
            role="button"
            >More Information</a
          >
        </div>
      </div>
    </div>
  </section>
</main>

<%- include('./partials/footer.ejs'); %>
