<%- include('./partials/blogHeader.ejs'); %>

<div class="bg-image-others"></div>

<main class="main-container">
  <section class="TOS-container">
    <div class="container">
      <div class="row">
        <div class="paragraphs" id="terms">
          <h1 class="jumbotron text-center">Terms of Service</h1>
          <h5 class="text-justified">
            Welcome to the Meditation Workbook CA website located at
            meditationworkbook.ca, which is owned and operated by Meditation
            Workbook CA. By accessing our Website, you agree to these Terms and
            Conditions ("Terms"). Please read them carefully.
          </h5>

          <h2>Use of the Website</h2>
          <p>
            The Website provides information about the Meditation Workbook,
            promotes mindfulness and meditation practices, and may offer booking
            options for author events. You may use the Website for your
            personal, non-commercial use only.
          </p>

          <h2>User Accounts</h2>
          <p>
            Since the Website does not provide user accounts, there is no
            personal login information or profiles.
          </p>

          <h2>Prohibited Activities</h2>
          <p>You may not use the Website to:</p>
          <ul>
            <li>Advertise or sell any goods or services.</li>
            <li>
              Engage in any activity that would violate any applicable law or
              regulation.
            </li>
            <li>Infringe on the intellectual property rights of others.</li>
            <li>
              Use the Website in any way that could impair its functionality or
              accessibility to others.
            </li>
          </ul>

          <h2>User Subscriptions</h2>
          <p>
            Visitors may choose to subscribe using their email to receive
            updates and information. Subscribers must provide a valid email
            address and any other information requested by the Website to
            complete the subscription process.
          </p>

          <h2>Author Event Booking</h2>
          <p>
            The Website may allow for the booking of events with authors
            associated with the Meditation Workbook. Users requesting to book an
            event must provide accurate and complete information as required by
            the booking form.
          </p>

          <h2>Third-Party Links</h2>
          <p>
            The Website may contain links to other websites not owned or
            controlled by us. Meditation Workbook CA is not responsible for the
            content, privacy policies, or practices of any third-party websites.
          </p>

          <h2>Governing Law</h2>
          <p>
            These Terms and Conditions shall be governed by and defined
            following the laws of Canada. Meditation Workbook CA and yourself
            irrevocably consent that the courts of Canada shall have exclusive
            jurisdiction to resolve any dispute which may arise in connection
            with these terms.
          </p>

          <h2>Changes to Terms and Conditions</h2>
          <p>
            Meditation Workbook CA reserves the right to modify these Terms at
            any time. Your continued use of the Website after any such changes
            take effect constitutes your acceptance of the new Terms.
          </p>

          <h2>Contact Us</h2>
          <p>
            If you have any questions about these Terms, please contact us at:
          </p>
          <a href="#" id="contact-link">Meditation Workbook CA</a>
        </div>
      </div>
    </div>
  </section>
</main>

<%- include('./partials/blogFooter.ejs'); %>
